# Editor
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.venv/

# Node
node_modules/
.pnpm-store/
.turbo/

# Environment & secrets
.env*
.secrets/
!.secrets/.gitkeep
.devcontainer/secrets/*
!.devcontainer/secrets/.gitkeep

# Poetry / pnpm caches
.cache/
poetry.lock.bak

# Build artifacts
build/
dist/
reports/

# Mac/Linux
Thumbs.db
docs/docusaurus/.docusaurus-build/
